@font-face { font-family: MinecraftFive; src: url("../../assets/fonts/MinecraftFive.otf"); }
@font-face { font-family: MinecraftFiveBold; src: url("../../assets/fonts/MinecraftFiveBold.otf"); }
@font-face { font-family: MinecraftSeven; src: url("../../assets/fonts/MinecraftSeven.otf"); }
@font-face { font-family: MinecraftTen; src: url("../../assets/fonts/MinecraftTen.otf"); }

html {
	font-family: "MinecraftSeven";
}

img {
	width: -webkit-fill-available;
}

h2 {
	font-family: "MinecraftTen";
}

a {
	color: rgba(1, 137, 68, 1);
	text-decoration: unset;
}

div {
	font-size: 14px;
}

.wysiwyg-font-size-large, strong {
	font-size: 18px;
}
#articleBody {
	line-height: 1.5;
}

img {
	border-radius: 8px;
}

ul, ol {
	list-style-type: disc;
	padding-left: 20px;
    list-style-position: outside;
    margin: 12px 0 12px 12px;
}


.breadcrumbs li {
    color: #666;
    display: inline;
    font-weight: normal;
    font-size: 15px;
    max-width: 450px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sub-nav {
	font-family: 'MinecraftFive';
	text-align: center;
}

.breadcrumbs li + li::before {
    content: ">";
    margin: 0 4px;
}

::-webkit-scrollbar {
    width: 1.25rem;
    background-color: transparent;
}
::-webkit-scrollbar-corner {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    border-radius: 0.5625rem;
    border: 0.375rem solid rgba(0,0,0,0);
    background-color: rgb(0 0 0 / 16%);
    background-clip: padding-box;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
